<div class="container">
    <div id="about">
        <div class="column">
        <img src="images/about-us-image.svg" alt="">
        </div>
        <div class="column">
        <div class="content">
            <span class="about-p">About Us</span>
            <h2>You can't use up creativity.</h2>
            <p class="about-info-p">Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It's a lot meaningful content here.</p>
            <div class="exp">
                <span class="fifteen-years">15</span>
                <span>Years Of<br />Experience</span>
            </div>
            <div class="items">
                <a href="#" class="btn btn-second">Learn More</a>
                <a href="#" class="btn btn-third">Intro Video</a>
            </div>
        </div>
        </div>
    </div>
</div>