<div class="light-background">
    <div class="container">
        <div id="contact">
        <div class="column">
            <p>Get In Touch</p>
            <h2>Estimate for your projects.</h2>
            <input type="text" class="form-control" placeholder="Enter your name">
            <input type="text" class="form-control" placeholder="Enter your email">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <a href="#" class="btn btn-submit">Submit Now</a>
        </div>
        <div class="column">
            <img src="images/contact-us-image.svg" alt="">
        </div>
        </div>
    </div>
</div>