<div class="dark-background">
    <div class="container">
        <div id="intro">
        <div class="column items">
            <p class="intro-p">Intro</p>
            <h2>How we growth our business.</h2>
            <p class="text-p">The introduction of cloud and mobile technologies into enterprise software.</p>
            <p class="filler-p">hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
            <a href="#" class="btn btn-learn-more">Learn More</a>
        </div>
        <div class="column">
            <img src="images/intro-image.svg" alt="">
        </div>
        </div>
    </div>
</div>