<div class="white-background">
    <div class="dark-bg">
        <div class="container dark-bg">
        <div id="book-meeting">
            <h2>Book a Meeting</h2>
            <p>Does any industry face a more complex audience journey and<br /> marketing sales process than B2B technology.</p>
            <div class="columns">
                <div class="form-floating mb-4 meeting-name">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Enter your name</label>
                </div>
                <div class="form-floating mb-4 meeting-email">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Enter your email</label>
                </div>
                <div class="form-floating meeting-comment">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Comments</label>
                </div>
            </div>
            <div class="btn-center">
                <a href="#" class="btn btn-booking">Book a Meeting Now</a>
            </div>
        </div>
        </div>
    </div>
</div>