<div class="white-background">
    <div class="container">
        <div id="box">
        <div class="card">
            <div class="item">
            </div>
            <div class="item-p">
                <p>UI/UX Design</p>
            </div>
        </div>
        <div class="card">
            <div class="item">
            </div>
            <div class="item-p">
                <p>IT Consultancy</p>
            </div>
        </div>
        <div class="card">
            <div class="item">
            </div>
            <div class="item-p">
                <p>Technology Prof.</p>
            </div>
        </div>
        <div class="card">
            <div class="item">
            </div>
            <div class="item-p">
                <p>Web Development</p>
            </div>
        </div>
        <div class="card">
            <div class="item">
            </div>
            <div class="item-p">
                <p>App Development</p>
            </div>
        </div>
        <div class="card">
            <div class="item">
            </div>
            <div class="item-p">
                <p>Game Design</p>
            </div>
        </div>
        </div>
    </div>
</div>