<section id="showcase">
    <div class="column">
        <div class="content">
            <p>Promote any product, service or online course.</p>
            <h1>Get every IT Servies Here</h1>
            <div class="items">
                <div class="item">
                    <img src="images/red-circle.svg" alt="">
                    <span>IT Product</span>
                </div>
                <div class="item">
                    <img src="images/blue-circle.svg" alt="">
                    <span>IT Services</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <img class="showcase-image" src="images/male.svg" alt="">
    </div>
</section>