@model Aspnetmvc.Models.Forms.SignInForm

@{
    ViewData["Title"] = "Sign In";
}


<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="col-5">
            <form asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" aria-describedby="emailHelp">
                    <span asp-validation-for="Email" class="form-text text-danger"></span>
                    <div id="emailHelp" class="form-text">Vi delar inte e-mail</div>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" aria-describedby="passwordHelp">
                    <span asp-validation-for="Password" class="form-text text-danger"></span>   
                </div>
                <div class="form-text text-center text-danger mb-3">
                    @Model.ErrorMessage 
                </div>
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">@ViewData["Title"]</button>
                </div>

                <div class="d-grid gap-2">
                    <a asp-controller="Auth" asp-action="SignUp">Registrera ny användare</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
