@{
    ViewData["Title"] = "Contact";
}

<div class="bg-blue-gradient">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_TitlePartial" />
    </div>
</div>
<partial name="_ContactPartial" />
<partial name="_FooterPartial" />