@{
    ViewData["Title"] = "Home";
}

<div class="bg-blue-gradient">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_ShowcasePartial" />
    </div>
</div>
<partial name="_AboutPartial" />
<partial name="_IntroPartial" />
<partial name="_MeetingPartial" />
<partial name="_FooterPartial" />