@{
    ViewData["Title"] = "Services";
}

<div class="bg-blue-gradient">
    <div class="container">
        <partial name="_HeaderPartial" />
        <partial name="_TitlePartial" />
    </div>
</div>
<partial name="_ServiceInfoPartial" />
<partial name="_FooterPartial" />